<div class="">
    Can Vote: {{post.canVote}}<br>
    Current Users Vote: {{post.currentUserVote}}<br>
    VotesUp: {{post.votesUp}}<br>
    VotesDown: {{post.votesDown}}<br>
    <div data-ng-class="{'bg-primary': post.currentUserVote == 'UP'}">
        <a href="" data-ng-click="toggleVoteUp()">
            <h4><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></h4>
        </a>
    </div>
    {{post.votesUp - post.votesDown}}
    <div data-ng-class="{'bg-primary': post.currentUserVote == 'DOWN'}">
        <a href="" data-ng-click="toggleVoteDown()">
            <h4><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></h4>
        </a>
    </div>
</div>
