<div class="">
    <div data-mainmenu-partial></div>

    <a data-ng-href='{{imgurAuthUrl}}' target="_blank" class="btn btn-default">Login Imgur</a>
    {{imgurAuthUrl}}
<!--
    <h2>Albums</h2>

    <div id="items" title="">
        <div data-ng-repeat="album in imgur.albums">
            <div id="album-9oN87" data-title="The Cage" data-cover="sWVFDQUb.jpg" data-layout="b" data-privacy="0" data-description="" class="album access " title="">
                <div class="cover" title="">
                    <a href="//imgur.com/a/{{album.id}}" title="">
                        <img data-ng-src="//i.imgur.com/{{album.cover}}b.jpg" alt="{{album.title}}" title="" style="">
                    </a>
                    <div class="privacy-dot-container options">
                    <span class="privacy-dot green title item album-settings-link" original-title="Privacy: Public"></span>
                </div>
            </div>
            <div class="info">
                {{album.title}} 
                <div>Link: {{album.link}}</div>
                <div>Privacy: {{album.privacy}}</div>
            </div>
            <div class="metadata">
                {{album.images_count}} images ·
                <span title="Sunday, March 8, 2015 at 04:04 GMT">{{album.datetime}}</span> ·
                {{album.views}} views
            </div>
            <div>VIEW IMAGES</div>
            <div>DELETE ALBUM</div>
        </div>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="newAlbumTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input id="newAlbumTitle" type="text" class="form-control" data-ng-model="newAlbum.title" placeholder="Album Name">
            </div>
        </div>
        <div class="form-group">
            <label for="newAlbumDescription" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <input id="newAlbumDescription" type="text" class="form-control" data-ng-model="newAlbum.description" placeholder="Album Description">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Privacy</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="newAlbumPrivacy" value="public" data-ng-model="newAlbum.privacy"> Public
                </label>
                <label class="radio-inline">
                    <input type="radio" name="newAlbumPrivacy" value="hidden" data-ng-model="newAlbum.privacy"> Hidden
                </label>
                <label class="radio-inline">
                    <input type="radio" name="newAlbumPrivacy" value="secret" data-ng-model="newAlbum.privacy"> Secret
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Layout</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="newAlbumLayout" value="blog" data-ng-model="newAlbum.layout"> Blog
                </label>
                <label class="radio-inline">
                    <input type="radio" name="newAlbumLayout" value="grid" data-ng-model="newAlbum.layout"> Grid
                </label>
                <label class="radio-inline">
                    <input type="radio" name="newAlbumLayout" value="horizontal" data-ng-model="newAlbum.layout"> Horizontal
                </label>
                <label class="radio-inline">
                    <input type="radio" name="newAlbumLayout" value="vertical" data-ng-model="newAlbum.layout"> Vertical
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" data-ng-click="createNewAlbum(newAlbum)">Create New Album</button>
            </div>
        </div>

    </form>
-->
    <div data-mainmenu-footer-partial></div>
    <notification></notification>
</div>
