<div class="">
    <div data-mainmenu-partial></div>

    <div>
    <div class="row">
        <div class="col-md-offset-1 col-md-5">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <h3 class="text-center">Register</h3>
                </div>
            </div>
            <div class="row">
            <form name="registerForm" role="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerFirstName">First Name</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.firstName" type="text" class="form-control" name="registerFirstName" id="registerFirstName" required>
                        <span data-ng-show="registerForm.registerFirstName.$dirty && registerForm.registerFirstName.$error.required">
                            <p class="text-danger">First name is required.</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerLastName">Last Name</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.lastName" type="text" class="form-control" name="registerLastName" id="registerLastName" required>
                         <span data-ng-show="registerForm.registerLastName.$dirty && registerForm.registerLastName.$error.required">
                            <p class="text-danger">Last name is required.</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerEmail">Email</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.email" type="email" class="form-control" name="registerEmail" id="registerEmail" required>
                        <span data-ng-show="registerForm.registerEmail.$dirty && registerForm.registerEmail.$error.email">
                            <p class="text-danger">Email invalid</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerPassword">Password</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.password" type="password" class="form-control" name="registerPassword" id="registerPassword" required>
                        <span data-ng-show="registerForm.registerPassword.$dirty && registerForm.registerPassword.$error.required">
                            <p class="text-danger">Password is required.</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerPassword">Confirm Password</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.confirmPassword" type="password" class="form-control" name="registerConfirmPassword" id="registerConfirmPassword" ui-validate="'$value==register.password'" ui-validate-watch=" 'register.password' " required>
                        <span data-ng-show="registerForm.registerConfirmPassword.$dirty && registerForm.registerConfirmPassword.$error.validator">
                            <p class="text-danger">Password Confirmation is required.</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="registerCountry">Country</label>
                    <div class="col-md-9">
                        <input data-ng-model="register.country" type="text" class="form-control" name="registerCountry" id="registerCountry" required>
                        <span data-ng-show="registerForm.registerCountry.$dirty && registerForm.registerCountry.$error.required">
                            <p class="text-danger">Country is required.</p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <button data-ng-click="registerNewUser(register)" type="submit" class="btn btn-default" data-ng-disabled="registerFormProcessing">Register</button>
                    </div>
                </div>
            </form>
            </div>
        </div>  <!-- end col-md-6 -->

        <div class="col-md-offset-0 col-md-5">
            <div class="row">
                <div class="col-md-offset-3 col-md-9">
                    <h3 class="text-center">Login</h3>
                </div>
            </div>
            <div class="row">
                <form name="loginForm" role="form" class="form-horizontal" novalidate>
                   <div class="form-group">
                        <label class="col-md-3 control-label" for="loginEmail">Email</label>
                        <div class="col-md-9">
                            <input data-ng-model="login.email" type="email" class="form-control" name="loginEmail" id="loginEmail" required>
                            <span data-ng-show="loginForm.loginEmail.$dirty && loginForm.loginEmail.$error.email">
                                <p class="text-danger">Email invalid</p>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="loginPassword">Password</label>
                        <div class="col-md-9">
                            <input data-ng-model="login.password" type="password" class="form-control" name="loginPassword" id="loginPassword" required>
                            <span data-ng-show="loginForm.loginPassword.$dirty && loginForm.loginPassword.$error.required">
                                <p class="text-danger">Password is required.</p>
                            </span>
                        </div>
                    </div>
                   <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button data-ng-click="loginUser(login)" type="submit" class="btn btn-default" data-ng-disabled="loginFormProcessing">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div> <!-- end row -->
    </div>

    <div data-mainmenu-footer-partial></div>
    <notification></notification>

</div>
