<div class="">
    <div class="header">
        <ul class="nav nav-pills pull-right">
			<li><a>Welcome: {{currentUser.firstname}}</a></li>
            <li data-ng-class="{active: isActive('/')}"><a data-ng-href="#/">Home</a></li>

            <li role="presentation" class="dropdown" data-ng-class="{active: isActive('/post/new')||isActive('/post/all')}" data-ng-show="canCreatePost">
                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                    Post <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/post/new">New</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/post/all">All</a></li>
                </ul>
            </li>


            <li role="presentation" class="dropdown" data-ng-class="{active: isActive('/admin/user')||isActive('/admin/userrole')||isActive('/admin/permission') }" data-ng-show="showAdminButtons">
                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-expanded="false">
                    Admin <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/user">User</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/userrole">Userrole</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/admin/permission">Permission</a></li>
                </ul>
            </li>

            <li data-ng-class="{active: isActive('/profile')}" data-ng-show="isCurrentUserLoggedIn"><a data-ng-href="#/profile">Profile</a></li>
            <li data-ng-class="{active: isActive('/login')}" data-ng-show="!isCurrentUserLoggedIn"><a data-ng-href="#/login">Log In | Register</a></li>
            <li data-ng-class="{active: isActive('/logout')}" data-ng-show="isCurrentUserLoggedIn"><a data-ng-href="#/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">ngLive</h3>
    </div>
</div>
