<div class="">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#">About</a></li>
            <li><a ng-href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">ngLive</h3>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h3>Fetch All/Fetch One</h3>
            <div class="row">
                <div class="col-md-1">Resource</div>
                <div class="col-md-1">Permission</div>
                <div class="col-md-1">Description</div>
                <div class="col-md-1 hidden">Userroles</div>
                <div class="col-md-1" data-ng-repeat="userrole in userroleList">{{userrole.name}}</div>
                <div class="col-md-1">Id</div>
                <div class="col-md-1">Delete</div>
            </div>
            <div data-ng-repeat="(key, value) in permissionList | groupBy: 'group'">
                <div class="row hidden"><div class="col-md-2">Resource: {{key}}</div></div>
                <div class="row" data-ng-repeat="permission in value">
                    <div class="col-md-1" ng-show="$first">{{permission.group}}</div>
                    <div class="col-md-1" ng-show="!$first"></div>
                    <div class="col-md-1">{{permission.permission}}</div>
                    <div class="col-md-1">{{permission.description}}</div>
                    <div class="col-md-1 hidden">
                        <div data-ng-repeat="allowedUserrole in permission.userroles">
                            {{allowedUserrole.name}}
                        </div>
                    </div>
                    <div class="col-md-1" data-ng-repeat="userrole in userroleList">
                        <input type="checkbox" 
                                data-ng-model="permissionCheckboxes[permission.id + '_' + userrole.id]" 
                                data-ng-change="togglePermission(permission.id, userrole.id, permissionCheckboxes[permission.id + '_' + userrole.id])" >
                    </div>
                    <div class="col-md-1">{{permission.id}}</div>
                    <div class="col-md-1"><a href="" data-ng-click="deletePermission(permission.id)">x</a></div>
                </div>
            </div>

            <!--
            <div class="row" data-ng-repeat="permission in permissionList | groupBy: group">
                <div class="col-xs-1 col-md-1">{{permission.id}}</div>
                <div class="col-md-1">{{permission.group}}</div>
                <div class="col-md-1">{{permission.permission}}</div>
                <div class="col-md-1">{{permission.description}}</div>
                <div class="col-md-1">
                    <div data-ng-repeat="allowedUserrole in permission.userroles">
                        {{allowedUserrole.name}}
                    </div>
                </div>
                <div class="col-md-1" data-ng-repeat="userrole in userroleList">
                    <input type="checkbox" data-ng-model="permissionCheckboxes[permission.id + '_' + userrole.id]" data-ng-change="togglePermission(permission.id, userrole.id, permissionCheckboxes[permission.id + '_' + userrole.id])" >
                </div>
                <div class="col-md-1"><a href="" data-ng-click="deletePermission(permission.id)">x</a></div>
            </div>
            -->
        </div>
    </div>

	<div class="row">
		<div class="col-xs-12">
		    <h3>Create One</h3>
		    <form>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="group">Group</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" id="group" class="form-control" data-ng-model="newPermission.group">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="permission">Permission</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" id="permission" class="form-control" data-ng-model="newPermission.permission">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="description">Description</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" id="description" class="form-control" data-ng-model="newPermission.description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default" data-ng-click="createPermission(newPermission)">Create</button>
                    </div>
                </div>
		    </form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
		    <h3>Fetch One</h3>
		    <form>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="fetchId">Id</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" class="form-control" id="fetchId" data-ng-model="permission.id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">	
                        <button type="submit" class="btn btn-default" data-ng-click="fetchOne(permission.id)">Fetch</button>
                    </div>
                </div>
		    </form>
		</div>
	</div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Update By Id</h3>
            <form>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="id">Id</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="number" class="form-control" id="id" data-ng-model="updatedPermission.id">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="updateGroup">Group</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="updateGroup" data-ng-model="updatedPermission.group">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="updatePermission">Permission</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="updatePermission" data-ng-model="updatedPermission.permission">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <label for="updateDescription">Description</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" id="updateDescription" data-ng-model="updatedPermission.description">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-default" data-ng-click="updatePermission(updatedPermission)">Update</button>
                    </div>
                </div>
            </form>
        </div>
	</div>

    <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
    </div>
 
</div>
