<div class="">

    <div class="row">
        <div class="col-xs-12">
            <h3>Fetch All/Fetch One</h3>
	    <div class="table-responsive">
            <table class="table table-striped">
                <tr data-ng-repeat="user in userList">
                    <td>{{user.id}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userroles}}</td>
                    <td>{{user.articles}}</td>
                    <td>{{user.comments}}</td>
                    <td>{{user.createdAt}}</td>
                    <td>{{user.updatedAt}}</td>
                    <td><a href="#" data-ng-click="deleteUser(user.id)">x</a></td>
                </tr>
            </table>
	    </div>
        </div>
</div>

	<div class="row">
		<div class="col-xs-12">
		    <h3>Create One</h3>
		    <form>
			<div class="row">
			<div class="col-xs-4">
				<label for="email">Email</label>
			</div>
			<div class="col-xs-8">
				<input type="email" id="email" class="form-control" data-ng-model="newUser.email">
			</div>
			</div>
			<div class="row">
			<div class="col-xs-4">
				<label for="password">Password</label>
			</div>
			<div class="col-xs-8">
				<input type="password" id="password" class="form-control" data-ng-model="newUser.password">
			</div>
			</div>
			<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-default" data-ng-click="createUser(newUser)">submit</button>
			</div>
			</div>
		    </form>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
		    <h3>Fetch One</h3>
		    <form>
			<div class="row">
			<div class="col-xs-4">
				<label for="fetchId">Id</label>
			</div>
			<div class="col-xs-8">
				<input type="number" class="form-control" id="fetchId" data-ng-model="user.id">
			</div>
			</div>
			<div class="row">
				<div class="col-xs-12">	
					<button type="submit" class="btn btn-default" data-ng-click="fetchOne(user.id)">Get</button>
				</div>
			</div>
		    </form>
		</div>
	</div>

        <div class="row">
	<div class="col-xs-12">
            <h3>Update By Id</h3>
            <form>
		<div class="row">
			<div class="col-xs-4">
				<label for="id">Id</label>
			</div>
			<div class="col-xs-8">
				<input type="number" class="form-control" id="id" data-ng-model="updatedUser.id">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="updateEmail">Email</label>
			</div>
			<div class="col-xs-8">
				<input type="email" class="form-control" id="updateEmail" data-ng-model="updatedUser.email">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="password">Password</label>
			</div>
			<div class="col-xs-8">
				<input type="password" class="form-control" id="updatePassword" data-ng-model="updatedUser.password">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<button type="submit" class="btn btn-default" data-ng-click="updateUser(updatedUser)">submit</button>
			</div>
		</div>
            </form>
        </div>
	</div>

</div>
