<div class="">
    <div class="row">
        <div class="col-md-12">
            <div data-mainmenu-partial></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">

        <div class="col-md-3">  <!-- begin col left -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View All Post</h3>
                </div>
                <div class="panel-body">
                    <div data-ng-repeat="post in postList">

                        <div class="row">
                            <div class="col-md-1">
                                <img src={{post.image}}>
                            </div>
                            <div class="col-md-11">

                                <div data-ng-if="post.type == 'link'">
                                    <div><h4><a ng-href="{{post.link}}" target="_blank">{{post.title}}</a>
                                        <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small>
                                    </h4></div>
                                </div>

                                <div data-ng-if="post.type == 'text'">
                                    <div><h4><a href="" data-ng-click="loadClickedPost(post.id)">{{post.title}}</a></h4></div>
                                </div>

                                <div><h5>{{post.description}}</h5></div>
                                <div><a href="" data-ng-click="loadClickedPost(post.id)">Discuss</a></div>
                                <div>{{post.postedby.email}}</div>
                                <!--
                                <div>{{post.createdAt}}</div>
                                -->
                                <time am-time-ago="post.createdAt" title="{{ post.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time> 
                                <span>{{post.planetSetting}}</span>
                                <span>{{post.continentSetting}}</span>
                                <span>{{post.countrySetting}}</span>
                                <span data-ng-repeat="board in post.boards"><a ng-href="#/b/{{board.name}}">{{board.name}}</a> </span>
                                <div data-ng-show="post.showDelete"><a href="" ng-click="deletePost(post.id)">Delete</a></div>
                                <div data-ng-show="post.showEdit"><a href="" ng-click="deletePost(post.id)">Edit</a></div>
                            </div>
                        </div>  <!-- end row -->

                    </div>
               </div>
            </div> <!-- end panel -->
        </div> <!-- end col left -->

        <div class="col-md-9">  <!-- begin col right -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">View One Post</h3>
                </div>
                <div class="panel-body">

                    <div class="row" data-ng-show="clickedPost">

                        <div class="col-md-1">
                            <div data-vote-widget post="clickedPost" toggle-vote-up="toggleVoteUp(clickedPost)" toggle-vote-down="toggleVoteDown(clickedPost)"></div>
                            <img src={{clickedPost.image}}>
                        </div>
                        <div class="col-md-11">

                            <div data-ng-if="clickedPost.type == 'link'">
                                <div><h4><a ng-href="{{clickedPost.link}}" target="_blank">{{clickedPost.title}}</a>
                                    <small><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></small>
                                </h4></div>
                            </div>
                            <div data-ng-if="clickedPost.type == 'text'">
                                <div><h4><a href="" data-ng-click="loadClickedPost(clickedPost.id)">{{clickedPost.title}}</a></h4></div>
                            </div>

                            <div>{{clickedPost.description}}</div>
                            <div>{{clickedPost.postedby.email}}</div>
                            <!--
                            <div>{{clickedPost.createdAt | amCalendar}}</div>
                            -->
                            <time am-time-ago="clickedPost.createdAt" title="{{ clickedPost.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time> 
                            <span>{{clickedPost.planetSetting}}</span>
                            <span>{{clickedPost.continentSetting}}</span>
                            <span>{{clickedPost.countrySetting}}</span>
                            <span data-ng-repeat="board in clickedPost.boards"><a ng-href="#/b/{{board.name}}">{{board.name}}</a> </span>
                            <span data-ng-show="clickedPost.showDelete"><a href="" ng-click="deletePost(clickedPost.id)">Delete</a></span>
                            <span data-ng-show="clickedPost.showEdit"><a href="" ng-click="deletePost(clickedPost.id)">Edit</a></span>
                            <span data-ng-show="clickedPost.showReply"><a href="" data-ng-click="displayCommentForm(clickedPost, 'post')">Reply</a></span>
                        </div>
                    </div>  <!-- end row -->
<!--
                    <div data-ng-repeat="comment in clickedPost.comments">
                        {{comment.body}} || 
                        {{comment.createdAt}} || 
                        {{comment.postedby.email}} || 
                        <a href="" data-ng-click="displayCommentForm(comment, 'comment')">Reply</a> || 
                        <a href="" data-ng-click="deleteComment(comment.id)">Delete</a>
                        <div data-ng-repeat="childComment in comment.childComments">
                        >> {{childComment.body}} || {{childComment.createdAt}} || {{childComment.postedby.email}} ||
                            <a href="" ng-click="deleteComment(childComment.id)">Delete</a>
                        </div>
                    </div>
-->
                </div> <!-- end panel body -->
                <div class="table-responsive">
                    <table class="table">
                        <thead><tr><th>Reply</th><th>Author</th><th>Time</th><th>Ops</th></tr></thead>
                        <tbody data-ng-repeat="comment in clickedPost.comments">
                            <tr class="warning1">
                                <td>{{comment.body}}</td>
                                <td>{{comment.postedby.email}}</td>
                                <!--
                                <td>{{comment.createdAt}}</td>
                                -->
                                <td>
                                    <time am-time-ago="comment.createdAt" title="{{ comment.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time> 
                                </td>
                                <td>
                                    <span data-ng-show="comment.showDelete"><a href="" data-ng-click="deleteComment(comment.id)">Delete</a></span>
                                    <span data-ng-show="comment.showReply"><a href="" data-ng-click="displayCommentForm(comment, 'comment')">Reply</a></span>
                                </td>
                            </tr>
                            <tr class="warning1" style="color: grey;" data-ng-repeat="childComment in comment.childComments">
                                <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true" style="color: lightgrey;"></span>&nbsp;{{childComment.body}}</td>
                                <td>{{childComment.postedby.email}}</td>
                                <!--
                                <td>{{childComment.createdAt}}</td>
                                -->
                                <td>
                                    <time am-time-ago="childComment.createdAt" title="{{ childComment.createdAt | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}"></time> 
                                </td>
                                <td>
                                    <span data-ng-show="childComment.showDelete"><a href="" ng-click="deleteComment(childComment.id)">Delete</a></span>
                                </td>
                            </tbody>
                        </tr>
                    </table>
                </div>

            </div> <!-- end panel -->
        </div> <!-- end right col -->

    </div>  <!-- end main row -->
    
    <div data-ng-show="showCommentForm">
        <div class="row1">
            <div class="col-md-5" style="position: fixed; bottom: 0; right: 0;">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="panel-title">Reply</span>
                        <span data-ng-click="toggleCommentForm()" class="glyphicon glyphicon-chevron-down pull-right" style="font-size: 1.3em; color: grey; cursor: pointer;" aria-hidden="true"></span>
                    </div>
                    <div class="panel-body">
                        <div data-ng-if="replyingTo.type == 'post'">
                            <blockquote>{{replyingTo.obj.title}}</blockquote>
                        </div>
                        <div data-ng-if="replyingTo.type == 'comment'">
                            <blockquote>{{replyingTo.obj.body}}</blockquote>
                        </div>
                        <form name="newCommentForm" novalidate>
                           <div class="form-group">
                                <label for="inputComment" class="hidden">Reply</label>
                                <textarea rows="6" class="form-control" id="inputComment" name="inputComment" data-ng-model="newComment.body" placeholder="Share whats on your mind." required></textarea>
                                <span data-ng-show="newCommentForm.$submitted && newCommentForm.inputComment.$error.required">
                                    <p class="text-danger">Post body is required.</p>
                                </span>

                            </div>
                            <button type="submit" class="btn btn-default" data-ng-disabled="newCommentFormProcessing" data-ng-click="createComment(newComment)">Create New Comment</button>
                        </form>

                   </div>
                </div>
            </div>
        </div> <!-- end row1 -->
    </div>
    <div data-ng-show="!showCommentForm && replyingTo.obj.id">
        <div class="col-md-1" style="position: fixed; bottom: 0; right: 0;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">&nbsp;</span>
                <span data-ng-click="toggleCommentForm()" class="glyphicon glyphicon-chevron-up pull-right" style="font-size: 1.3em; color: grey; cursor: pointer;" aria-hidden="true"></span>
            </div>
        </div>
        </div>
    </div>

    <div data-mainmenu-footer-partial></div>
    <notification></notification>

</div>
